<div th:fragment="taskContent">
	<div th:if="${thisprojectemp.isadmin}">
		<div th:include="ems/content/project/taskCreate :: taskCreate"></div>
	</div>


	<table id="datatableDefault" class="table text-nowrap w-100 ">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Assignee</th>
				<th>Priority</th>
				<th>Status</th>
				<th>Type</th>
				<th>Created</th>
				<th>Updated</th>					
				<th>Options</th>
			</tr>
		</thead>
		<tbody>

			<tr class="align-middle"  th:each="task,iterator : ${project.tasks}">
			
				<td th:text="${iterator.index+1}">#</td>
				<td th:text="${task.title}">Title</td>
				<td>
					<a href="#" class="text-decoration-none" th:emp-id="${task.assigneeid}" onclick="viewEmlpoyee(this);" th:text="${task.assigneename}" >View</a></td>
				<td >
					<select th:disabled="${task.creatorid!=session.userdtl.empid} "   name="priority" class="form-select form-select-sm">
						  	<option value="Normal">Normal</option>					  		
							  <option value="High">High</option>							  
							  <option value="Low">Low</option>
							  <option value="Urgent">Urgent</option>			  
							</select>
				</td>
				<td>
					<select name="type" th:disabled="${task.creatorid!=session.userdtl.empid and task.assigneeid!=session.userdtl.empid} "   class="form-select form-select-sm">
							  <option value="New">New</option>
							  <option value="Ongoing">Ongoing</option>
							  <option value="Waiting">Waiting</option>
							  <option value="Finished">Finished</option>
					</select>
				</td>
				<td>
					<select name="type" th:disabled="${task.creatorid!=session.userdtl.empid}"   class="form-select form-select-sm">
							  <option value="Task">Task</option>
							  <option value="Enhancement">Enhancement</option>
							  <option value="Proposal">Proposal</option>
							  <option value="Resolve">Resolve</option>
							</select>
				</td>
				<td>[[${#dates.format(task.created, 'dd MMM yyyy')}]]</td>
				<td>[[${#dates.format(task.updated, 'dd MMM yyyy')}]]</td>					
				
				<td><a href="#" data-bs-toggle="dropdown"
					class=" text-opacity-50"> <i class="fa fa-ellipsis-h"></i></a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" th:emp-id="${task.title}" onclick="viewEmlpoyee(this);"
							class="dropdown-item">View</a> <a
							th:href="@{/editEmployee(empid=${task.title})}"
							class="dropdown-item">Edit</a> <a href="#" class="dropdown-item">Report</a>
					</div></td>
			</tr>
		</tbody>
	</table>

</div>