<table class="table table-hover " id="datatable">
	<thead>
		<tr>
			<th>NAME</th>
			<th>CREATED ON</th>			
			<th>VALID UNTIL</th>
			<th>INVITED AS</th>	
			<th>STATUS</th>
			<th>SIGNERS</th>			
			<th></th>

		</tr>
	</thead>
	<tbody>
		<tr style="vertical-align: middle;" th:each="c : ${list}">
			<td><a th:href="@{/contractview(contractid=${c.id})}"
				class="text-white text-decoration-none text-opacity-75"><i
					th:classappend="${c.status=='pending'} ? 'text-warning' : ''"
					class="fas fa-lg fa-fw me-2 fa-file-pdf"></i>[[${c.doc_name}]]</a></td>			
			
			<td>[[${#dates.format(c.created, 'dd MMM yyyy')}]]</td>
			<td>
			[[${c.status=='pending'} ? ${#temporals.format(c.valid_till, 'dd MMM yyyy')} : '--']]
			</td>
			
			<td>[[${c.invite_as=='me'} ? 'Myself' : 'Netlit EMS']]</td>
			
			<td class="text-uppercase">[[${c.status}]]</td>
			<td class="">
				 [[${c.signed_count}]] / [[${#lists.size(c.signers)}]]
			</td>
			
			<td class="text-center">
				<button th:if="${c.status == 'pending'}"
					class="btn btn-sm btn-outline-theme me-2">
					<i class="far fa-fw me-2 fa-clock"></i>Send Reminder
				</button> <a th:if="${c.status != 'pending'}" href="#"
				data-bs-toggle="dropdown" class=" text-opacity-50"> <i
					class="fa fa-ellipsis-h"></i></a>
				<div class="dropdown-menu dropdown-menu-end">
					<a th:href="@{/contractview(contractid=${c.id})}" class="dropdown-item"><i
						class="fas fa-fw me-2 fa-tasks"></i></i>Monitor</a> <a
						th:href="|download/contract?contractid=${c.id}|"
						class="dropdown-item"><i class="fas fa-fw me-2 fa-download"></i>Download
						pdf</a> <a th:if="${c.status != 'pending'}" href="#"
						onclick="deleteContract(event)" class="dropdown-item"><i
						class="fas fa-fw me-2 fa-trash-alt"></i>Delete</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>