<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Calendar</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<link href="assets/css/netlit_ems.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="assets/plugins/@fullcalendar/common/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/daygrid/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/timegrid/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/list/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/bootstrap/main.min.css" rel="stylesheet" />
	<!-- ================== END page-css ================== -->

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
				
		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			
			
			<!-- BEGIN calendar -->
			<div class="calendar mb-3">
				<!-- BEGIN calendar-body -->
				<div class="calendar-body">
					<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
						<div id="calendar"></div>
					</div>
				</div>
				<!-- ENG calendar-body -->
				<!-- BEGIN calendar-sidebar -->
				<div class="calendar-sidebar">
					<div class="desktop-sticky-top flex-fill h-100 ">						
						<div style="cursor: pointer;" class="fc-event-list" id="external-events">
							<div th:each="t: ${types}" th:id="${t.typeid}" class="fc-event-item">							
								<div class="fc-event-link" data-color="#1ABD36">
									<i class="fa fa-circle fs-8px me-2 text-success"></i> [[${t.typename}]]
								</div>
							</div>
							
							<div class="fc-event-item">							
								<div class="fc-event-link" data-color="#ff2d55">
									<i class="fa fa-circle fs-8px me-2 text-warning"></i> Lunch
								</div>
							</div>
							
							<div class="fc-event-item">							
								<div class="fc-event-link" data-color="#ff2d55">
									<i class="fa fa-circle fs-8px me-2 text-danger"></i> Work interval
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- ENG calendar-sidebar -->
			</div>
			
			<!-- end calendar -->
		</div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>			
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
	<div th:include="theme/footer::staticFooter"></div>	
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/moment/moment.js"></script>
	<script src="assets/plugins/@fullcalendar/core/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/daygrid/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/timegrid/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/interaction/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/list/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/bootstrap/main.global.js"></script>
	<script src="assets/js/demo/calendar.demo.js"></script>
	<!-- ================== END page-js ================== -->
	<script type="text/javascript">
		$(".fc-event-link").click(function() {
			alert(1);
		})
		
		
		function getData() {
			
			
			$.get("/getTimereportsForcalendar", function(data, status){
				var events=[];
				for(var i=0;i<data.length;i++){
					var value={};
					var date = data[i].date;
					var start = data[i].work_start;
					var end = data[i].work_end;
					var workdesc = data[i].work_desc;
					
					 value["title"] = workdesc;
					 value["start"] = new Date();
					 value["end"] = end;
					 value["date"] = date;
					 events.push(value);
				}
				return events;
				//handleRenderFullcalendar(events);
			 });
			
			
		}
		
	</script>
</body>
</html>
