<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Calendar</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<link href="assets/css/netlit_ems.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="assets/plugins/@fullcalendar/common/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/daygrid/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/timegrid/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/list/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/@fullcalendar/bootstrap/main.min.css" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
	
	<style>
		.fc-event{
		    cursor: pointer;
		}
	</style>

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
				
		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			
			
			<!-- BEGIN calendar -->
			<div class="calendar mb-3">
				<!-- BEGIN calendar-body -->
				<div class="calendar-body">
					<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
						<div id="calendar"></div>
					</div>
				</div>
				<!-- ENG calendar-body -->
				<!-- BEGIN calendar-sidebar -->
				<div class="calendar-sidebar">
					<div class="desktop-sticky-top flex-fill h-100 ">						
						<div style="cursor: pointer;" class="fc-event-list " id="external-events">
							<button onclick="getcalendar()" class="btn btn-outline-theme form-control mb-2">Refresh</button>
							<div th:each="t: ${types}" th:id="${t.typeid}" class="fc-event-item">							
								<div class="fc-event-link" th:data-typeid="${t.typeid}"
								th:data-work-start="${t.start}"
								th:data-work-end="${t.end}"
								th:data-work-intarval="${t.interval_minutes}"
								th:data-isWorking="${t.isWorking}"
								th:data-color ="${t.isWorking} ? '#1ABD36' : '#b8400d'"
								>
									<i  th:classappend ="${t.isWorking} ? 'text-success' : 'text-danger'" class="fa fa-circle fs-8px me-2 "></i> [[${t.typename}]]
								</div>
							</div>
						</div>
						
					</div>
					
					
					
				</div>
				<!-- ENG calendar-sidebar -->
			</div>
			
			<!-- end calendar -->
			
			
			<div class="modal fade" id="editModal">
				<div class="modal-dialog modal-dialog-centered ">
					<div class="modal-content bg-opacity-25">
						<form id="editTimeReportForm" action="/saveTimeReportCalander" method="post">
							<div class="modal-header">
								<h4 class="modal-title">date</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>
							<div class="modal-body">

								<div class="form-group mb-3">				
										<div class="form-group mb-3">
											<label class="form-label">Select a type</label> 
											<select name="status" id="status" class="form-select">
												<option th:each="t: ${types}" 
												th:start="${t.typeid}"
												th:end="${t.typeid}"
												th:lbreak="${t.typeid}"
												th:isworking="${t.typeid}"
												th:value="${t.typeid}">[[${t.typename}]]</option>
											</select>
										</div>										
										
										<input type="hidden"  name="from_date" id="date"/>
										<input type="hidden"  name="tr_id" id="tr_id"/>
										<input type="hidden"  name="work_minute" id="totalWorkMinute"/>
								</div>
								
								<div class="row">
									<div class="col">
										<div class="form-group mb-3">
											<label class="form-label">Start</label> 
											<input type="time" class="form-control dis" id="start" name="work_start">											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group mb-3">
											<label class="form-label">Intarval (Minute)</label> 
											<input type="number" class="form-control dis" id="intarval" name="work_interval">											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group mb-3">
											<label class="form-label">End</label> 
											<input type="time" class="form-control dis" id="end" name="work_end">											</select>
										</div>
									</div>
								</div>
								

								<div class="form-group mb-3">
									<label class="form-label">Description</label>
									<textarea  name="work_desc" id="text" required="required" maxlength="1000"
										class="form-control mb-3" rows="3"></textarea>
								</div>
								
								<span class="h5">Total hours : </span><span class="h5" id="work_hour"></span>

							</div>
							<div class="modal-footer">
							<span class="text-danger" id="alert-msg"></span>
							
								<button type="button" class="btn btn-default"
									data-bs-dismiss="modal">Close</button>
								<button type="submit" id="submit" class="btn btn-outline-theme">Save time report</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			
		</div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>			
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
	<div th:include="theme/footer::staticFooter"></div>	
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/moment/moment.js"></script>
	<script src="assets/plugins/@fullcalendar/core/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/daygrid/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/timegrid/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/interaction/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/list/main.global.js"></script>
	<script src="assets/plugins/@fullcalendar/bootstrap/main.global.js"></script>
	<script src="assets/js/demo/calendar.demo.js"></script>
	<!-- ================== END page-js ================== -->
	<script type="text/javascript">
		$(".fc-event-link").click(function() {
        	var wbreak= $(this).attr('data-work-intarval');
        	var wstart= $(this).attr('data-work-start');
        	var wend= $(this).attr('data-work-end');
        	var wisWorking= $(this).attr('data-isWorking');
        	var txt="";
        	txt+=$(this).html();
        	if(wisWorking=="true"){				
				txt+="<li>Start : "+wstart+"</li>";
				txt+="<li>End : "+wend+"</li>";
				txt+="<li>Intarval : "+wbreak+" Min</li>";
			}
			
			$('.toast-header .title').html("Draggable time report event");
			$('.toast-body .toast-message').html(txt);
			$('.toast').toast('show');
		})
		
	</script>
</body>
</html>
