<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>APPROVE TR</title>
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- ================== BEGIN core-css ================== -->
<link href="assets/css/vendor.min.css" rel="stylesheet" />
<link href="assets/css/app.min.css" rel="stylesheet" />
<link href="assets/css/netlit_ems.css" rel="stylesheet" />
<!-- ================== END core-css ================== -->
<!-- ================== BEGIN page-css ================== -->
<link
	href="assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css"
	rel="stylesheet" />
<link href="assets/plugins/bootstrap-table/dist/bootstrap-table.min.css"
	rel="stylesheet" />

<!-- ================== BEGIN page-css ================== -->
<link href="assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css"
	rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-slider/dist/css/bootstrap-slider.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/blueimp-file-upload/css/jquery.fileupload.css"
	rel="stylesheet" />
<link href="assets/plugins/summernote/dist/summernote-lite.css"
	rel="stylesheet" />
<link href="assets/plugins/spectrum-colorpicker2/dist/spectrum.min.css"
	rel="stylesheet" />
<link href="assets/plugins/select-picker/dist/picker.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/jquery-typeahead/dist/jquery.typeahead.min.css"
	rel="stylesheet" />
<!-- ================== END page-css ================== -->

<style type="text/css">
.custm-btn {
	width: 90px !important;
	text-align: left;
	margin: 3px;
}

input[type="radio"] {
	
	outline: 1px solid black;
}
</style>

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
		<!-- BEGIN #content -->

		<div id="content" class="app-content">
			<!-- BEGIN container -->

			<!-- BEGIN row -->
			<div class="row justify-content-center">
				<!-- BEGIN col-10 -->
				<div>
					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-9 -->

						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">WORK SCHEDULE</a></li>
							<li class="breadcrumb-item active">PENDING TIME REPORTS</li>
						</ul>

						<h1 class="page-header">Pending Time Reports</h1>

						<hr class="mb-4" />
						<div class="row">
							<div id="datatable" class="mb-5">

								<div class="flex-grow-1">

									<div class="row small">
										<form id="searchform" action="empsTimereport" method="get">
											<div class="row ">

												<div class="input-group " id="">

													<span class="input-group-text"><i
														class="fa fa-filter"></i></span> <select name="empid"
														id="empidselect" class="form-select form-select-sm">
														<option value="me">My Employees</option>
														<option value="all">All Employees</option>
														<option th:each="emps : ${emps}"
															th:value="|E-${emps.empid}|">[[${emps.full_name}]]</option>
													</select> <select name="c" id="daterangeselect"
														class="form-select form-select-sm">
														<option value="">Date Range</option>
														<option value="t">Today</option>
														<option value="y">Yesterday</option>
														<option value="n2d">Next 3 Days</option>
														<option value="lw">Last Week</option>
														<option value="tw">This Week</option>
														<option value="nw">Next Week</option>
														<option value="lm">Last month</option>
														<option value="tm">This month</option>
														<option value="nm">Next month</option>
														<option value="c">Custom</option>
													</select> <input autocomplete="off" name="from_date" id="from_date"
														required="required" type="text"
														class="form-control form-control-sm datepicker-default"
														placeholder="From date" /> <span class="input-group-text">to</span>
													<input autocomplete="off" name="to_date" id="to_date"
														type="text"
														class="form-control form-control-sm datepicker-default"
														placeholder="To date" />

													<button type="submit" class="btn btn-outline-theme">
														<i class="fa fa-search"></i>
													</button>
												</div>



											</div>
										</form>





									</div>


									<!-- <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="fa fa-fw fa-expand"></i></a> -->
								</div>
								<br />


								<div class="d-flex align-items-start mb-3">
									<a href="#"> <img
										onerror="this.onerror=null; this.src='assets/img/user/user.png'"
										th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}"
										alt="" width="64" class="rounded" />
									</a>
									<div class="ms-3">
										<h5 class="mt-0 mb-1">
											<a class="text-decoration-none" href="#"
												th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);"
												th:text="${emp.full_name}"></a> [ Chief ]
										</h5>
										<ul class="small list-unstyled">
											<li><span id="daterangehtml"></span> [ [[${wsh.size}]] Pending ]</li>				

										</ul>

									</div>
								</div>





								<table id="datatableDefaultz" class="table small table-bordered ">
									<thead>
										<tr>
											<th>Week</th>
											<th>Employee</th>
											<th width="95px">Date</th>

											<th>Status</th>
											<th>Total</th>
											<th>Start</th>
											<th>End</th>
											<th>Break</th>
											<th>Desc</th>

											<th><input id="checkAll" class="form-check-input"
												type="hidden" /> <i class="fa fa-thumbs-up"></i></th>
										</tr>
									</thead>
									<tbody  >

										<div th:each="wsh,iterator : ${wsh}">

										<tr 
											class="align-middle">
											<td class="h4 text-center" th:rowspan="${wsh.overtime.size+1}" th:text="${wsh.week}">week</td>
											
											<td th:rowspan="${wsh.overtime.size+1}"><a href="#"
												class="text-decoration-none" th:emp-id="${wsh.userid}"
												onclick="viewEmlpoyee(this);" th:text="${wsh.full_name}"></a></td>


											<td class="text-white" th:rowspan="${wsh.overtime.size+1}"><b>[[${wsh.day}]]<br />[[${wsh.date}]]</b>
											</td>


											<td><select name='status'
												onchange='setTypeval( event,this)'
												th:classappend="${wsh.status}==1 ? norm  : text-danger"
												class='status  form-select form-select-sm availabilitysign'>
													<option th:selected="${at.typeid==wsh.status}"
														th:each="at: ${avtype}" th:value="${at.typeid}"
														th:start="${at.start}" th:end="${at.end}"
														th:interval="${at.interval_minutes}"
														th:text="${at.typename}">xx</option>
											</select>
											<input class="av_id" th:value="${wsh.av_id}" type="hidden"/>
											
											</td>
											<td><input type="text" onchange='calculate(event)'
												class=" td-input form-control form-control-sm   work_hour "
												readonly="readonly" th:value="${wsh.work_hour}" /> <input
												type="hidden" onchange='calculate(event)'
												class=" td-input form-control form-control-sm   wmint "
												readonly="readonly" th:value="${wsh.work_minute}" /></td>
											<td><input type="time" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal start  "
												th:value="${wsh.work_start}" /></td>
											<td><input type="time" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal end "
												th:value="${wsh.work_end}" /></td>
											<td><input type="number" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal lbreak "
												th:value="${wsh.lunch_hour}" /></td>

											<td><textarea
													
													class="td-input form-control form-control-sm cal work_desc "
													th:text="${wsh.work_desc}" rows="2"></textarea></td>
											
											
											<td >										
											
																								
													<div class="form-group " >											
														<div class=" btn btn-sm btn-success btn-block custm-btn">
															<input class="form-check-input" ajaxaction="approveRGtime" type="radio" value="" th:name="${wsh.av_id}" id="defaultRadio1" th:checked="${wsh.isapproved}" />
															<label class="form-check-label" for="defaultRadio1">Approve</label>
														</div>
														
														<div class=" btn btn-sm btn-danger btn-block custm-btn">
															<input class="form-check-input" ajaxaction="rejectRGtime" type="radio" value="" th:name="${wsh.av_id}" id="defaultRadio2" th:checked="${wsh.isrejected}" />
															<label class="form-check-label" for="defaultRadio2">Reject</label>
														</div>														
													</div>			
												
												
											</td>
										</tr>



										<tr th:each="wsh,iterator : ${wsh.overtime}"
											class="align-middle ">
											
											<td><select name='status'
												onchange='setTypeval( event,this)'
												class='status  form-select form-select-sm cal hljs-string'>
													<option th:selected="${at.typeid==wsh.status}"
														th:each="at: ${obtype}" th:value="${at.typeid}"
														th:start="${at.start}" th:end="${at.end}"
														th:interval="${at.interval_minutes}"
														th:text="${at.typename}">xx</option>
											</select>
											<input class="ob_id" th:value="${wsh.ob_id}" type="hidden"/>
											</td>

											<td><input type="text" onchange='calculate(event)'
												class=" td-input form-control form-control-sm   work_hour "
												readonly="readonly" th:value="${wsh.work_hour}" /> <input
												type="hidden" onchange='calculate(event)'
												class=" td-input form-control form-control-sm   wmint "
												readonly="readonly" th:value="${wsh.work_minute}" /></td>
											<td><input type="time" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal start  "
												th:value="${wsh.work_start}" /></td>
											<td><input type="time" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal end "
												th:value="${wsh.work_end}" /></td>
											<td><input type="number" onchange='calculate(event)'
												class="td-input form-control form-control-sm cal lbreak "
												th:value="${wsh.lunch_hour}" /></td>

											<td><textarea
													class="td-input form-control form-control-sm cal work_desc "
													th:text="${wsh.work_desc}" rows="2"></textarea>
											</td>

											<td>
												
													<div class="form-group text-center">
														<div class="btn btn-sm btn-success btn-block custm-btn">
															<input class="form-check-input" ajaxaction="approveOBtime" type="radio" value="" th:name="${wsh.ob_id}" id="defaultRadio1" th:checked="${wsh.isapproved}" />
															<label class="form-check-label" for="defaultRadio1">Approve</label>
														</div>														
														<div class="btn btn-sm btn-danger btn-block custm-btn">
															<input class="form-check-input" ajaxaction="rejectOBtime" type="radio" value="" th:name="${wsh.ob_id}" id="defaultRadio2" th:checked="${wsh.isrejected}" />
															<label class="form-check-label" for="defaultRadio2">Reject</label>
														</div>														
													</div>			
												
												
											</td>
										</tr>
										</div>


									</tbody>
								</table>




							</div>
						</div>
					</div>
					<!-- END col-9-->
					<!-- BEGIN col-3 -->

					<!-- END col-3 -->
				</div>
				<!-- END row -->

				<!-- END col-10 -->
			</div>
			<!-- END row -->

			<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content empContent">...</div>
				</div>
			</div>

			<div class="modal fade" id="workschedule">
				<div class="modal-dialog modal-lg">
					<div class="modal-content wschcontent">...</div>
				</div>
			</div>

			<!-- END container -->
			<!-- END #content -->



		</div>
		<!-- END #app -->

		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>

	</div>
	<!-- END #app -->
	<div th:include="theme/footer::staticFooter"></div>
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="assets/js/demo/highlightjs.demo.js"></script>
	<script src="assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script
		src="assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script
		src="assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script
		src="assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script
		src="assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script
		src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="assets/js/demo/table-plugins.demo.js"></script>
	<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>

	<!-- ================== END page-js ================== -->
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
	<script
		src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/plugins/moment/min/moment.min.js"></script>
	<script
		src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script
		src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script
		src="assets/plugins/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script
		src="assets/plugins/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
	<script
		src="assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
	<script src="assets/plugins/select-picker/dist/picker.min.js"></script>
	<script src="assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="assets/js/demo/highlightjs.demo.js"></script>
	<script src="assets/js/demo/form-plugins.demo.js"></script>
	<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>
	<script src="assets/js/pagejs/work_schedule.js"></script>
	<!-- ================== END page-js ================== -->



</body>

</html>