<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>PENDING TR</title>
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- ================== BEGIN core-css ================== -->
<link href="assets/css/vendor.min.css" rel="stylesheet" />
<link href="assets/css/app.min.css" rel="stylesheet" />
<link href="assets/css/netlit_ems.css" rel="stylesheet" />
<!-- ================== END core-css ================== -->
<!-- ================== BEGIN page-css ================== -->
<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<!-- ================== END page-css ================== -->
<style type="text/css">
.trCheckbox {
	cursor: pointer;	
	transform: scale(1.5);
	margin-left: 5px;	
}
</style>

</head>

<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
		<div id="content" class="app-content">
			<!-- BEGIN container -->

			<!-- BEGIN row -->
			<div class="row justify-content-center">
				<!-- BEGIN col-10 -->
				<div>
					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-9 -->

						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">WORK SCHEDULE</a></li>
							<li class="breadcrumb-item active">PENDING TIME REPORTS</li>
						</ul>

						<h1 class="page-header">Pending Time Reports</h1>

						<hr class="mb-4" />
						<div class="row">
							<div id="datatable" class="mb-5">

								<div class="flex-grow-1">

									<div class="row small">
										<form id="searchform" action="" method="">
											<div class="row ">

												<div class="input-group " id="">

													<span class="input-group-text"><i
														class="fa fa-filter"></i></span> <select name="empid"
														id="empidselect" class="form-select form-select-sm">
														<option value="me">My Employees</option>
														<option value="all">All Employees</option>
														<option th:each="emps : ${emps}"
															th:value="|E-${emps.empid}|">[[${emps.full_name}]]</option>
													</select> <select name="c" id="daterangeselect"
														class="form-select form-select-sm">
																	<option value="">Date Range</option>
																	<option value="lm">Last month</option>
																	<option value="tm">This month</option>
																	<option value="l2d">Last 3 Days</option>
																	<option value="y">Yesterday</option>
																	<option value="t">Today</option>																	
																	<option value="n2d">Next 3 Days</option>																	
																	<option value="lw">Last Week</option>
																	<option value="tw">This Week</option>																	
																	<option value="nw">Next Week</option>
																	<option value="nm">Next month</option>
													</select> <input autocomplete="off" name="from_date" id="from_date"
														required="required" type="text"
														class="form-control form-control-sm datepicker-default"
														placeholder="From date" /> <span class="input-group-text">to</span>
													<input autocomplete="off" name="to_date" id="to_date"
														type="text"
														class="form-control form-control-sm datepicker-default"
														placeholder="To date" />

													<button id="searchBtn" type="button" class="btn btn-outline-theme">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
									<!-- <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="fa fa-fw fa-expand"></i></a> -->
								</div>
								<br />
								
								<div id="ajaxresponse">
									Searching for data...
								</div>

							</div>
						</div>
					</div>
					<!-- END col-9-->
					<!-- BEGIN col-3 -->

					<!-- END col-3 -->
				</div>
				<!-- END row -->

				<!-- END col-10 -->
			</div>
			<!-- END row -->

			<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content empContent">...</div>
				</div>
			</div>
			
			

			<div class="modal fade" id="confirmDecisionmodal">
				  <div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content ">
				      <div class="modal-header">
				        <h5 class="modal-title">MODAL TITLE</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				      </div>
				      <div class="modal-body">
				        <form action="">
				        <p class="">You are going to <span id="modal-dec"></span> time report for <span class="" id="modal-emp"></span></p>
				        
				        <input type="hidden" name="rg" id="data"/>
				        <input type="hidden" id="action"/>
				        <input type="hidden" id="dataid"/>
				        <input type="hidden" name="decision" id="actionDecision"/>						
						
				        
				        <div class="form-check">
						  <input class="form-check-input" type="checkbox" name="ismail" value="" id="mail" checked="checked" />
						  <label class="form-check-label" for="mail">Send notification to the work mail</label>
						</div>
				      </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default close" data-bs-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-dec processview">Confirm</button>
				      </div>
				    </div>
				  </div>
				</div>

			<!-- END container -->
			<!-- END #content -->



		</div>
		<!-- END #app -->

		
	</div>
	<!-- END #app -->
	<div th:include="theme/footer::staticFooter"></div>		
		<script src="assets/plugins/moment/min/moment.min.js"></script>
		<script src="assets/js/pagejs/pendingTimeReport.js"></script>		
		<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/demo/form-plugins.demo.js"></script>		
		<div th:include="theme/theme_util :: theme_util"></div> 
</body>
</html>