<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>TIME REPORT</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<link href="assets/css/netlit_ems.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
	<link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	
	

	

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row justify-content-center">
					<!-- BEGIN col-10 -->
					<div >
						<!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-9 -->
							
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">TIME REPORT</a></li>
									<li class="breadcrumb-item active">VIEW TIME REPORT</li>
								</ul>
								
								<h1 class="page-header">
									View Time Report
								</h1>
								
								<hr class="mb-4" />
								
								<!-- BEGIN #datatable -->
								<div id="datatable" class="mb-5">
									
									    <div class="flex-grow-1">
									    
												<div class="row small">
													<form id="searchform" action="viewtimeReport" method="get">													
														<div class="">
															<div class="input-group " id="">
																<span class="input-group-text"><i class="fa fa-filter"></i></span>
																<select sec:authorize="!hasAnyAuthority('EMPLOYEE')" name="empid" id="empidselect" class="form-select form-select-sm">																	
																	<option th:value="${session.userdtl.empid}"> Myself </option>
																	<option th:each="emps : ${emps}" th:value="${emps.empid}">[[${emps.full_name}]]</option>																	
																</select>
																
																<select name="c" id="daterangeselect" class="form-select form-select-sm">
																	<option value="">Date Range</option>
																	<option selected="selected" value="t">Today</option>
																	<option value="y">Yesterday</option>
																	<option value="lw">Last Week</option>
																	<option value="tw">This Week</option>
																	<option value="nw">Next Week</option>
																	<option value="lm">Last month</option>
																	<option value="tm">This month</option>
																	<option value="nm">Next month</option>
																	<option value="c">Custom</option>
																</select>
																<input autocomplete="off"  name="from_date" id="from_date" required="required"  type="text" class="form-control form-control-sm datepicker-default"  placeholder="From date" />
																<span class="input-group-text">to</span>
																<input autocomplete="off" name="to_date" id="to_date" type="text" class="form-control form-control-sm datepicker-default"  placeholder="To date" />
																
																<button type="submit" class="btn btn-outline-theme"><i class="fa fa-search"></i></button>
															</div>
															
															
															
														</div>														
													</form>
																								
													
													</div>
													
													
													</div>
									    
									   <br/>
										
										
										<div class="d-flex align-items-start mb-3">
											<a href="#"> <img onerror="this.onerror=null; this.src='assets/img/user/user.png'"
												th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}" alt=""
												width="64" class="rounded" />
											</a>
											<div class="ms-3">
												<h5 class="mt-0 mb-1">
													<a class="text-decoration-none" href="#" th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);" th:text="${emp.full_name}"></a> 
												</h5>
												<ul class="small list-unstyled">
													<li><span id="daterangehtml"></span> [ [[${total_days}]] ]</li>													
													<li>Total work hour: <span class="h6">[[${total_work}]]</span></li>
													
												</ul>
																					
											</div>
										</div>
										
										
											<table  id="datatableDefaultz" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>Week</th>
														<th>Date</th>
														<th>Day</th>														
														<th>Hour</th>
														<th>Start</th>
														<th>End</th>
														<th>Break</th>
														<th>Assgn By</th>
														<th class="w-25 p-3">Desc</th>
														<th>Assgn Date</th>	
														
													</tr>
												</thead>
												<tbody>	
												
													
													
													<tr th:classappend="${wsh.status}==1 ?  normal:text-danger"
														th:each="wsh,iterator : ${wsh}" class="align-middle">														
														<td class="h2" th:text="${wsh.week}">week</td>
														<td th:text="${wsh.date}">Date</td>										
														
														
														<td th:text="${wsh.day}">Date</td>
														
														<td th:text="${wsh.work_minute}">Hour</td>
														<td th:text="${wsh.work_start}">Start</td>
														<td th:text="${wsh.work_end}">End</td>
														<td th:text="${wsh.lunch_hour}">Break</td>										
														<td th:text="${wsh.assigned_by_full_name}">Assgn By</td>
														<td  th:text="${wsh.work_desc}">Desc</td>
														<td th:text="${wsh.created==null}? ${wsh.updated} : ${wsh.created}">date</td>
														
													</tr>
												</tbody>
											</table>
										
										
								</div>
								<!-- END #datatable -->
								
								
							</div>
							<!-- END col-9-->
							<!-- BEGIN col-3 -->
							
							<!-- END col-3 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END col-10 -->
				</div>
				<!-- END row -->				

			<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content empContent">...</div>
				</div>
			</div>

			<!-- END container -->
		<!-- END #content -->
		
		<div th:include="theme/theme_util :: theme_util"></div>	
		
		
		
	</div>
	<!-- END #app -->
	
		

		<!-- ================== BEGIN core-js ================== -->
	<div th:include="theme/footer::staticFooter"></div>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="assets/js/demo/highlightjs.demo.js"></script>
	<script src="assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="assets/js/demo/table-plugins.demo.js"></script>
	<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>
	<!-- ================== END page-js ================== -->
	<script src="assets/js/demo/form-plugins.demo.js"></script>
	<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>	
	
	<script src="assets/plugins/moment/min/moment.min.js"></script>
	<script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	
	
	<script>
		$("#daterangeselect").change(function() {
			$c = $(this).val();

			if ($c == "t") {
				$("#from_date").val(moment().format('YYYY-MM-DD'));
				$("#to_date").val(moment().format('YYYY-MM-DD'));

			} else if ($c == "y") {
				$("#from_date").val(moment().subtract(1, 'days').format('YYYY-MM-DD'));
				$("#to_date").val(moment().subtract(1, 'days').format('YYYY-MM-DD'));

			} else if ($c == "tm") {
				$("#from_date").val(moment().startOf('month').format('YYYY-MM-DD'));
				$("#to_date").val(moment().endOf('month').format('YYYY-MM-DD'));

			} else if ($c == "lm") {
				$("#from_date").val(moment().subtract(1, 'month').startOf('month').format('YYYY-MM-DD'));
				$("#to_date").val(moment().subtract(1, 'month').endOf('month').format('YYYY-MM-DD'));

			} else if ($c == "nm") {
				$("#from_date").val(moment().add(1, 'month').startOf('month').format('YYYY-MM-DD'));
				$("#to_date").val(moment().add(1, 'month').endOf('month').format('YYYY-MM-DD'));

			} else if ($c == "tw") {
				$("#from_date").val(moment().startOf('isoWeek').format('YYYY-MM-DD'));
				$("#to_date").val(moment().endOf('isoWeek').format('YYYY-MM-DD'));

			} else if ($c == "lw") {
				$("#from_date").val(moment().subtract(1, 'week').startOf('isoWeek').format('YYYY-MM-DD'));
				$("#to_date").val(moment().subtract(1, 'week').endOf('isoWeek').format('YYYY-MM-DD'));

			} else if ($c == "nw") {
				$("#from_date").val(moment().add(1, 'week').startOf('isoWeek').format('YYYY-MM-DD'));
				$("#to_date").val(moment().add(1, 'week').endOf('isoWeek').format('YYYY-MM-DD'));
			}
			
			if ($c != "c") {
				$("#searchform").submit();
			}		
		})

		
		var urlParams = new URLSearchParams(window.location.search); //get all parameters
		var c = urlParams.get('c'); //extract the foo parameter - this will return NULL if foo isn't a parameter
		var from_date = urlParams.get('from_date');
		var to_date = urlParams.get('to_date');
		var empid = urlParams.get('empid');
		
		if(c){			
			$('#empidselect option[value="'+empid+'"]').attr("selected", "selected");
			$('#daterangeselect option[value="'+c+'"]').attr("selected", "selected");
			$("#from_date").val(from_date);
			$("#to_date").val(to_date);
			$('#daterangehtml').html(moment(from_date, 'YYYY-MM-DD').format('MMMM D, YYYY') + ' - ' + moment(to_date, 'YYYY-MM-DD').format('MMMM D, YYYY'));
		}else{
			//$('#advance-daterange span').html(moment().format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
			//$('#daterangeinput').val(moment().subtract('days', 29).format('YYYY-MM-DD') + 'A' + moment().format('YYYY-MM-DD'));
			
		}
		
		setAutorowspan('#datatableDefaultz',0);
		 
	</script>
</body>
</html>
