/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


 
 /*google translate link | logo */
   .goog-logo-link{
   display:none!important;
   }
 .goog-te-gadget{
 color:transparent!important;
 }
 
 /* google translate banner-frame */
 
 .goog-te-banner-frame{
 display:none !important;
 }
 
 #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}
 
 body{top:0!important;}
 
 input[readonly], input[disabled], select[disabled],textarea[disabled] {
  cursor: no-drop; 
  background: none !important;
}

.td-input{
	
	
}

.td-input[type=number]{
	width: 60px;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	z-index: 99999 !important;
}

.ui-autocomplete-row {
	z-index:99999;
	padding: 8px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ccc;
}

.ui-autocomplete-row:hover {
	background-color: #ddd;
	font-weight: bold;
}
.notification-text{	
  
  position: absolute;
  animation: notificationtextmove 50s infinite;
	
}

@keyframes notificationtextmove {
  from {left: 0px;}
  to {left: 100vw;}
}



