<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title>NEW DOCUMENT</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<link href="assets/css/netlit_ems.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->	
	<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<style type="text/css">
	</style>
</head>

<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">CONTRACT</a></li>
				<li class="breadcrumb-item active">NEW DOCUMENT</li>
			</ul>

			<h1 class="page-header">Create new document</h1>
			<hr/>
			
			<div>
				
				
				<div class="row mb-4">
					<div class="col">
						<input type="file" accept="application/pdf" onchange="setfileName()" class="form-control form-control-lg" id="document_file" />
					</div>
					<div class="col">
						<select onchange="setfileName()" name="contract_type" id="contract_type" class="form-select form-select-lg">
								<option value="">Select category</option>
							  <option value="CS">Supplier contract</option>
							  <option value="CC">Customer contract</option>
							  <option value="CE">Employee contract</option>
						</select>
					</div>				
				</div>
				
				<div class="row mb-4">
					<div class="col">
						<div class="form-group">
						  <label class="form-label" for="document_name">Document name</label>
						  <input type="text" name="document_name" id="document_name" class="form-control form-control-lg"/>
						</div>
					</div>	
										
				</div>
				
				<div class="row mb-4">
					<div class="col">
						<div class="form-check text-white text-opacity-50">
						  <input checked="checked" class="form-check-input" type="radio" value=""  />
						  <label class="form-check-label" for="defaultRadio1">Send documents to sign separately</label>
						</div>
					</div>
					
					<div  class="col">
						<div class="form-check text-white text-opacity-50">
						  <input checked="checked" class="form-check-input" type="radio" value="" />
						  <label class="form-check-label" >Require the signee to read the document</label>
						</div>
					</div>	
										
				</div>
				
				<div class="row mb-4">
				<p class="h3">Document signers </p>
				<p class="small text-warning text-opacity-50"><i class="fas fa-info-circle"></i> Signers name will be suggested from EMS employee list. Also a new signer can be assigned with a valid email address.</p>
				<hr/>
					<table class="table align-middle table-borderless">						
						
						<tr class="">							
							<th>Signer name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Company name</th>							
							<th class="text-center"><i class="fa fa-plus"></i> <i class="fa fa-trash-alt"></i></th>
									
						</tr>
						
						<tr>
							
							<td class="input-group">
								
								<input placeholder="Search by name"  class="form-control " list="employees" id="employee">
							    <datalist id="employees">							        
							        <option  th:each="e: ${emps}" company="Netlit Solutions" th:phone="${e.phone}" th:email="${e.email}" th:data-value="${e.empid}" th:text="${e.full_name}"></option>
							    </datalist>
							    <input type="hidden" name="empid" id="employee-hidden">						
								<button class="sprofile btn  btn-link" disabled="disabled" onclick="viewEmlpoyee(this);">
									<i class="fas fa-lg fa-fw fa-address-card"></i>
								</button>							
							</td>
							<td><input name="signer_email" class="form-control semail" type="email"/></td>
							<td><input name="signer_phone" class="form-control sphone" type="text"/></td>
							<td><input name="signer_company" class="form-control scompany" type="text"/></td>
							
							<td class="text-center">
								<button onclick="addSigner()" class='btn  btn-outline-theme btn-add-signer '>
									<i class="fa fa-plus"></i></button>
							</td>
						</tr>
						
						<tr  id="signerTR2" class="d-none">
							
							<td class="input-group">
								
								<input placeholder="Search by name" class="form-control " list="employees" id="employee">
							    
							    <input type="hidden" name="empid" id="employee-hidden">	
							    <button class="sprofile btn  btn-link" disabled="disabled" onclick="viewEmlpoyee(this);">
									<i class="fas fa-lg fa-fw fa-address-card"></i>
								</button>		
							</td>
							<td><input name="signer2_email" class="form-control semail" type="email"/></td>
							<td><input name="signer_phone" class="form-control sphone" type="text"/></td>
							<td><input name="signer_company" class="form-control scompany" type="text"/></td>
							
							<td class="text-center">
								<button onclick="deleteSigner(event)" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
							</td>
						</tr>
						
						<tr id="signerTR3" class="d-none">
							
							<td class="input-group">
								
								<input placeholder="Search by name"  class="form-control " list="employees" id="employee">							    
							    <input type="hidden" name="empid" id="employee-hidden">	
							    <button class="sprofile btn  btn-link" disabled="disabled" onclick="viewEmlpoyee(this);">
									<i class="fas fa-lg fa-fw fa-address-card"></i>
								</button>
							</td>
							<td><input name="signer3_email" class="form-control semail" type="email"/></td>
							<td><input name="signer_phone" class="form-control sphone" type="text"/></td>
							<td><input name="signer_company" class="form-control scompany" type="text"/></td>
							
							<td class="text-center">
								<button onclick="deleteSigner(event)" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
							</td>
						</tr>
						
											
					
						
					</table>
				
							
				</div>
				
				
				
				<div class="row mb-4">
					<p class="h3">Invitation settings</p>
					<hr/>
					<div class="col-sm-4">										
						<div class="row mb-4">
							<div class="">
									<p class="h5">Invitation valid until</p>						
								
								<div class="form-group">								  
								  <div class="input-group">
								  <select id="invt_validity" class="form-select" name="invt_validity">
									<option value="7">7 Days</option>
									<option selected="selected" value="14">14 Days</option>
									<option value="30">30 Days</option>
									<option value="90">90 Days</option>
									<option value="0">Other</option>
									</select>
								  <input type="text" id="expireDate" class="form-control form-control-sm datepicker-default">
									</div>
								</div>
							</div>
							
						</div>
						
						<p class="h5 text-white text-opacity-50">Invitation type</p>
						
						<div class="form-check mb-4 text-white text-opacity-50">
						  <input class="form-check-input" checked="checked" type="radio" value="" id="invt_type" />
						  <label class="form-check-label" for="invt_type">Email only</label>
						</div>
						
						<p class="h5">Invite as</p>						
						<div class="">							
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="invt_as" value="" id="invt_validity" />
								  <label class="form-check-label" for="invt_validity">Netlit EMS</label>
								</div>
								
								<div class="form-check">
								  <input checked="checked" class="form-check-input" type="radio" name="invt_as" value="" id="invt_validity" />
								  <label class="form-check-label" for="invt_validity">Myself</label>
								</div>
							
						</div>			
						
						
						
					</div>
					<div class="col">
						<p class="h5">Email message</p>
						
						<select onchange="setmailmsg(this)" class="form-select  mb-4">
						  <option value="">Custom message</option>
						  <option th:each="t: ${email_templates}" th:msg="${t.text}" th:text="${t.name}"></option>						  
						</select>
						
						<textarea id="mailbody" class="form-control mb-4" rows="5"></textarea>	
						
						
						
						
					</div>				
				</div>
				<hr/>
				
				<div class="text-center">					
					<div >
						<button class="btn btn-lg btn-outline-theme">Save document and send invitations</button>
					</div>				
				</div>
			
			</div>
			
			
			
		</div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>
		<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content empContent">...</div>
				</div>
			</div>
	</div>
	<div th:include="theme/footer::staticFooter"></div>
	<script src="assets/plugins/moment/min/moment.min.js"></script>			
	<script src="assets/js/demo/form-plugins.demo.js"></script>
	<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/pagejs/newDocumentHome.js"></script>
</body>
</html>