<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>SET WORK SCHEDULE</title>
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- ================== BEGIN core-css ================== -->
<link href="assets/css/vendor.min.css" rel="stylesheet" />
<link href="assets/css/app.min.css" rel="stylesheet" />
<link href="assets/css/netlit_ems.css" rel="stylesheet" />
<!-- ================== END core-css ================== -->
<!-- ================== BEGIN page-css ================== -->

<!-- ================== BEGIN page-css ================== -->
<link href="assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css"
	rel="stylesheet" />
<link
	href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
	rel="stylesheet" />

<link href="assets/plugins/select-picker/dist/picker.min.css"
	rel="stylesheet" />
<link
	href="assets/plugins/jquery-typeahead/dist/jquery.typeahead.min.css"
	rel="stylesheet" />
<!-- ================== END page-css ================== -->

</head>
<form onsubmit="return mySubmitFunction(event)" id="wshform" action="saveTimeReport" method="post" >
<div class="modal-header">
	<div class="d-flex align-items-start">
		<a href="#"> <img onerror="this.onerror=null; this.src='assets/img/user/user.png'"
			th:src="*{'data:image/jpeg;base64,'+{userdtl.emp_image_encoded}}"
			alt="" width="100" class="rounded" />
		</a>
		<div class="ms-3">

			<span><span class="modal-title" th:text="${userdtl.full_name}"></span>&nbsp;<a
				type="button" th:href="@{/editEmployee(empid=${userdtl.empid})}"><i
					class="fa fa-edit"></i></a></span> <br /> 
			Week No #<span id="week_no"></span>
			<br/>
			<span>Extent: [[${userdtl.employee_Type}]]</span>
			<p id="avmessage"></p>
		</div>
	</div>
	
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>


</div>
<div class="modal-body">


	<div class="row">
		<div class="col-12 col-sm-4">
			<label class="custom-control-label ">Time Registration</label> <select
				id="availability" onc name="status" class="form-select border border-success">
				<option value="1">Worked Hours</option>				
				<option value="3">Sick Leave</option>
				<option value="4">Vacation</option>
				<option value="5">Child Care</option>
				<option value="6">Absent for Other Reason</option>
			</select>
			<input type="hidden" id="userid" name="userid" th:value="${userdtl.empid}" />
			
		</div>
		
		
		
		
		<div class="col-12 col-sm-4">
			<label class="custom-control-label ">Date Range</label> 
			<select id="avdaterangeselect" onc name="status" class="form-select">
					<option value="t">Today</option>	
					<option value="tw">This Week</option>								
					<option value="nw">Next Week</option>					
					<option value="tm">This month</option>
					<option value="nm">Next month</option>
					<option value="c">Custom</option>
				</select>
			<input type="hidden" id="userid" name="userid" th:value="${userdtl.empid}" />
			<input type="hidden" name="full_name" th:value="${userdtl.full_name}">
		</div>
		
		<div class="col-12 col-sm-4">
			<div class="form-group">
				<label>From Date to Date</label>
				<div class="input-group " id="">
					<input  id="av_from_date" name="from_date" required="required" autocomplete="off"
						type="text" class="form-control datepicker-default" 
						placeholder="start date" /> <span class="input-group-text ">to</span>
					<input id="av_to_date" name="to_date" type="text" required="required" autocomplete="off"
						class="form-control datepicker-default" placeholder="end date" />
				</div>
			</div>
		</div>

	</div>


	<hr>

	<div class="row">
		<div class="col-4">
			<label>Work Start</label> <input type="time" value="08:00" name="work_start"
				class="form-control text-center absent">
		</div>
		<div class="col-4">
			<label>Interval (minute)</label> <input value=45 type="number" name="lunch_hour"
				class="form-control text-center absent">
		</div>
		<div class="col-4">
			<label>Work End</label> <input value="17:00" type="time" name="work_end"
				class="form-control text-center absent">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<label>Description</label> <input required="required" id="desc" type="text" name="work_desc"
				class="form-control">
		</div>
	</div>
	
	

</div>

<div class="modal-footer">
	<div class="row">
		<button type="submit" class="form-control btn btn-outline-theme processview">Save</button>
		
	</div>
</div>

</form>
<div class="toasts-container">
			<div class="toast fade hide mb-3" data-autohide="false" id="toast">
				<div class="toast-header">
					<i class="far fa-bell text-muted me-2"></i> 
					<strong class="me-auto title">Title</strong>
					<button type="button" id="toast-reload-btn" class="btn btn-link">Reload Page</button>					
					<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
					
				</div>
				<div class="toast-body">
					<div class="toast-message">
					</div>					
				</div>
			</div>



		</div>
		<!-- ================== BEGIN core-js ================== -->
	
	<!-- ================== END core-js ================== -->
<!-- ================== BEGIN page-js ================== -->
<script src="assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script
	src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="assets/plugins/moment/min/moment.min.js"></script>
<script
	src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script
	src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script
	src="assets/plugins/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script
	src="assets/plugins/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
<script
	src="assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
<script src="assets/plugins/select-picker/dist/picker.min.js"></script>
<script src="assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="assets/js/demo/highlightjs.demo.js"></script>
<script src="assets/js/demo/form-plugins.demo.js"></script>
<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>
<script src="assets/js/netlit_ems.js"></script>
<!-- ================== END page-js ================== -->


<script>
setModalData();

function setModalData() {
	$('#availability option[value="1"]').attr("selected", "selected");
	$('.absent').addClass("border-success");
	let today = new Date().toISOString().substr(0, 10);
	$("#av_from_date").val(today);
	$("#av_to_date").val(today);	
	getWeekNo();
	setDateRangeString();
}

$('#availability').change( function() {	
	if ($(this).val() == 1) {		
		$('.absent').prop('required', true);
		$('.absent').prop('disabled', false);
		$(this).removeClass("border-danger");
		$(this).addClass("border-success");
		$('.absent').removeClass("border-danger");
		$('.absent').addClass("border-success");
	} else {		
		$(".absent").removeAttr("required");
		$('.absent').prop('disabled', true);
		$(".absent").removeClass("border-success");
		$(".absent").addClass("border-danger");		
		$(this).removeClass("border-success");
		$(this).addClass("border-danger");		
	}
});

$("#avdaterangeselect").change(function() {
	$c = $(this).val();
	if ($c == "tm") {
		$("#av_from_date").val(moment().startOf('month').format('YYYY-MM-DD'));
		$("#av_to_date").val(moment().endOf('month').format('YYYY-MM-DD'));

	} else if ($c == "nm") {
		$("#av_from_date").val(moment().add(1, 'month').startOf('month').format('YYYY-MM-DD'));
		$("#av_to_date").val(moment().add(1, 'month').endOf('month').format('YYYY-MM-DD'));

	}  else if ($c == "nw") {
		$("#av_from_date").val(moment().add(1, 'week').startOf('isoWeek').format('YYYY-MM-DD'));
		$("#av_to_date").val(moment().add(1, 'week').endOf('isoWeek').format('YYYY-MM-DD'));
	} else if ($c == "t") {
		$("#av_from_date").val(moment().format('YYYY-MM-DD'));
		$("#av_to_date").val(moment().format('YYYY-MM-DD'));

	}  else if ($c == "tw") {
		$("#av_from_date").val(moment().format('YYYY-MM-DD'));
		$("#av_to_date").val(moment().endOf('week').format('YYYY-MM-DD'));

	}
	setDateRangeString();
	getWeekNo();
})

$('#av_from_date').on('change', function() {
	$("#wshmessage").html("");
	$("#av_to_date").val($("#av_from_date").val());	
	getWeekNo();
});


function getWeekNo() {
	/*
	var currentdate = new Date($("#from_date").val());
	var oneJan = new Date(currentdate.getFullYear(),0,1);
	var numberOfDays = Math.floor((currentdate - oneJan) / (24 * 60 * 60 * 1000));
	var result =Math.ceil(( currentdate.getDay() + 1 + numberOfDays) / 7);		
	$("#week_no").html("  "+result);
	*/
	var weekno= moment($("#av_from_date").val(), 'YYYY-MM-DD').format('WW')
	$("#week_no").html(weekno);
}

function setDateRangeString() {
	$('#avmessage').html(moment($("#av_from_date").val(), 'YYYY-MM-DD').format('dddd, MMMM D, YYYY') + ' - ' + moment($("#av_to_date").val(), 'YYYY-MM-DD').format('dddd, MMMM D, YYYY'));
}

function mySubmitFunction(e) {
	  showprocessview();
	  e.preventDefault();
	  $form=$("#wshform");	
	  $.ajax({
			url : $("#wshform").attr("action"),
			type : $("#wshform").attr("method"),
			data : $form.serialize(),			
			success : function(data, status) {
				hideprocessview();				
				$('.modal').modal('hide');
				$('.toast-header .title').html("Response");
				$('.toast-body .toast-message').html(data);
				$('.toast').toast('show');
				if (data.includes("Successfully") == true) {					
					 location.reload();
				}			
			},
			error : function(xhr, desc, err) {				
				hideprocessview();
			}
		});
	  return false;
	}
	


</script>