<!-- 
<span><img th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}" alt=" " width="50" height="50" class="rounded-circle" /> 
</span>
 -->
<table class="table" data-toggle="table" id="historytable">

	<thead>
		<tr>

			<th class="table-active" colspan="5">
				<div class="row">
					<div class="widget-user-list">
					
						<div class="widget-user-list-item">
							<a href="#" class="widget-user-list-link"><img
								th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}"
								alt="" /></a>
							<a class="" th:text="${emp.full_name}">Bindu</a>	
								
						</div>
					</div>
					
				</div>

			</th>

		</tr>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Designation</th>

			<th>Contract</th>
			<th>Info</th>
		</tr>
	</thead>
	<tbody id="">
		<tr th:each="emp,iterator : ${employees}">
			<td th:text="${iterator.index+1}">57</td>

			<td><a th:text="${emp.full_name}" href="#" class="text-white"
				th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);"></a></td>
			<td th:text="${emp.designation}">Customer Support</td>

			<td th:class="${emp.contact_status_str}"
				th:text=${emp.contact_remaining_period}>2011/01/25</td>
			<td><a href="#" data-bs-toggle="dropdown"
				class=" text-opacity-50"> <i class="fa fa-ellipsis-h"></i></a>
				<div class="dropdown-menu dropdown-menu-end">
					<a href="#" th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);"
						class="dropdown-item">View</a> <a
						th:href="@{/editEmployee(empid=${emp.empid})}"
						class="dropdown-item">Edit</a> <a href="#" class="dropdown-item">Report</a>
				</div></td>
		</tr>
	</tbody>

</table>



