<!-- 
<span><img th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}" alt=" " width="50" height="50" class="rounded-circle" /> 
</span>
 -->
<div class="">
	<table class="table text-nowrap w-100" id="historytable">

		<thead>
			<tr>

				<th class="" colspan="10">
					<div class="row">
						<div class="widget-user-list">


							<img height="30" width="30"
								th:src="*{'data:image/jpeg;base64,'+{emp.emp_image_encoded}}"
								alt="" /> &nbsp; <a class="" th:text="${emp.full_name}">Bindu</a>


						</div>

					</div>

				</th>

			</tr>
			<tr>
				<th>P/A</th>
				<th>Date</th>
				<th>Hour</th>
				<th>Start</th>
				<th>End</th>
				<th>Break</th>
				<th>Assgn By</th>
				<th>Desc</th>
				<th>Assgn Date</th>
				<th>info</th>

			</tr>
		</thead>
		<tbody id="">
			<tr th:classappend="${wsh.status}==0 ? text-danger : text-success"
				th:each="wsh,iterator : ${wsh}">

				<td th:text="${wsh.status}==0 ? A : P">P/A</td>
				<td th:text="${wsh.date}">Date</td>
				<td th:text="${wsh.work_minute}">Hour</td>
				<td th:text="${wsh.work_start}">Start</td>
				<td th:text="${wsh.work_end}">End</td>
				<td th:text="${wsh.lunch_hour}">Break</td>

				<td th:text="${wsh.assigned_by_full_name}">Assgn By</td>
				<td th:text="${wsh.work_desc}">Desc</td>
				<td th:text="${wsh.updated}">date</td>


				<td><a href="#" data-bs-toggle="dropdown"
					class=" text-opacity-50"> <i class="fa fa-ellipsis-h"></i></a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" th:emp-id="${wsh.userid}" onclick="viewEmlpoyee(this);"
							class="dropdown-item">View</a> <a
							th:href="@{/editEmployee(empid=${wsh.userid})}"
							class="dropdown-item">Edit</a> <a href="#" class="dropdown-item">Report</a>
					</div></td>


			</tr>
		</tbody>

	</table>

</div>

