<div th:fragment="helpfullinks">
	<p class="mb-1">Here are some helpful links instead:</p>

	<p class="mb-5">
		<a href="dashboard"
			class="text-decoration-none text-white text-opacity-50">Home</a> <span
			class="link-divider"></span> <a href="complaints"
			class="text-decoration-none text-white text-opacity-50">Issues</a> <span
			class="link-divider"></span> <a href="messaging"
			class="text-decoration-none text-white text-opacity-50">Live
			chatroom</a> <span class="link-divider"></span> <a href="calendar"
			class="text-decoration-none text-white text-opacity-50">Calendar</a>
		<span class="link-divider"></span> <a href="settings"
			class="text-decoration-none text-white text-opacity-50">Settings</a>

	</p>

</div>