<!DOCTYPE html>
<html lang="en">
<head th:include="theme/header :: staticheaderFragment"></head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
		<!-- BEGIN #content -->
		<div th:include="ems/content/dashboard :: dashboard"></div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>
	</div>
	<!-- END #app -->
	<div th:include="theme/footer::staticFooter"></div>
	<script type="text/javascript">
		viewToday();
		getloggeinusers();	
		
		function getloggeinusers() {
			$.get("getLoggedInUsers", function(data, status) {
				$("#luserdiv").html(data);
			});
		}
		function viewToday() {
			var today = new Date();
			var dd = String(today.getDate()).padStart(2, '0');
			var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
			var yyyy = today.getFullYear();
			today = mm + '/' + dd + '/' + yyyy;			
			var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
			var date = new Date(today);
			$("#date").html(weekday[date.getDay()].toUpperCase()+", "+ dd + '/' + mm + '/' + yyyy);
		}
		
		function availablity(z) {			
			$empid = $(z).attr("emp-id");
			$.ajax({
				url : "setavailablity?empid=" + $empid,
				type : 'GET',
				success : function(data) {					
					$('.availablitymodalcontent').html(data);
					$('#availablitymodal').modal('show');
					historytablecontent(z);
				},
				error : function(xhr, desc, err) {
					$('.availablitymodalcontent').html(xhr.responseText);
					$('#availablitymodal').modal('show');

				}
			});
		}
	</script>
</body>
</html>
