<!DOCTYPE html>
<html lang="en">
<head th:include="theme/header :: staticheaderFragment"></head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>
		<!-- BEGIN #content -->
		<div th:include="ems/content/dashboard :: dashboard"></div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>
	</div>
	<!-- END #app -->
	<div th:include="theme/footer::staticFooter"></div>
	<script src="assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="assets/js/demo/table-plugins.demo.js"></script>
	<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>
	<script type="text/javascript">
		viewToday();
		getloggeinusers();
		getAvailablity();
		
		function getloggeinusers() {
			$.get("getLoggedInUsers", function(data, status) {
				$("#luserdiv").html(data);
			});
		}
		
		
		
		function viewToday() {
			var today = new Date();
			var dd = String(today.getDate()).padStart(2, '0');
			var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
			var yyyy = today.getFullYear();
			today = mm + '/' + dd + '/' + yyyy;			
			var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
			var date = new Date(today);
			$("#date").html(weekday[date.getDay()].toUpperCase()+", "+ dd + '/' + mm + '/' + yyyy);
		}
		
		function availablity(z) {			
			$empid = $(z).attr("emp-id");
			$.ajax({
				url : "setavailablity?empid=" + $empid,
				type : 'GET',
				success : function(data) {					
					$('.availablitymodalcontent').html(data);
					$('#availablitymodal').modal('show');					
				},
				error : function(xhr, desc, err) {
					$('.availablitymodalcontent').html(xhr.responseText);
					$('#availablitymodal').modal('show');
				}
			});
		}
		function getAvailablity() {
			$.get("getAvailablity", function(data, status) {
				$("#getAvailablityDiv").html(data);
				reloadAvtable();
			});
		}
		function reloadAvtable() {
			$('#avtable').DataTable({
			    dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
			    lengthMenu: [ 10, 20, 30, 40, 50 ],
			    responsive: true,
			    buttons: [ 
			      
			      { extend: 'csv', className: 'btn btn-outline-theme btn-sm' }
			    ]
			  });
			
		}
	</script>
</body>
</html>
