<!DOCTYPE html>
<html lang="en">
<head th:include="theme/header :: staticheaderFragment"></head>
<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN error -->
		<div class="error-page">
			<!-- BEGIN error-page-content -->
			<div class="error-page-content">
				<div class=" mb-5 mx-auto" style="">
					<div class="card-body">
						<div class="">
							<h1 class=""> <i class="fas fa-lg  fa-smile"></i> </h1>
							
						</div>
					</div>					
				</div>
				<h1 th:if="${param.logSucc}" th:utext="#{message.logoutSucc}">msg</h1> 
				<h3 >Thank you for using the NETLIT EMS</h3>
				
				<hr/>
				<a th:href="@{/login}" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Go Back to Login</a>
			</div>
			<!-- END error-page-content -->
		</div>
		<!-- END error -->
		
		<div th:include="theme/theme_util :: theme_util"></div>
		
	</div>
	<!-- END #app -->
	
	<div th:include="theme/footer::staticFooter"></div>	
	
</body>
</html>
