<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body >
<div th:fragment="sidenav">

<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-header">Navigation</div>
					<div class="menu-item">
						<a href="/dashboard" class="menu-link">
							<span class="menu-icon"><i class="bi bi-cpu"></i></span>
							<span class="menu-text">Dashboard</span>
						</a>
					</div>
					<div class="menu-item">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="bi bi-bar-chart"></i></span>
							<span class="menu-text">Analytics</span>
						</a>
					</div>
					<div class="menu-header">Platforms</div>
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">
								<i class="bi bi-envelope"></i>
							</span>
							<span class="menu-text">Email</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="email_inbox.html" class="menu-link">
									<span class="menu-text">Inbox</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="email_compose.html" class="menu-link">
									<span class="menu-text">Compose</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="email_detail.html" class="menu-link">
									<span class="menu-text">Detail</span>
								</a>
							</div>
						</div>
					</div>
					
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">								
								<i class="far  fa-comments"></i>
							</span>
							<span class="menu-text">Internal Communication</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="/messaging" class="menu-link">
									<span class="menu-text">Live Chat Room</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/complaints" class="menu-link">
									<span class="menu-text">Issues</span>
								</a>
							</div>							
						</div>
					</div>
					
					<div class="menu-item">
						<a href="/calendar" class="menu-link">
							<span class="menu-icon"><i class="bi bi-calendar4"></i></span>
							<span class="menu-text">Calendar</span>
						</a>
					</div>
					
					<div  class="menu-item has-sub">
						
						<a href="#" class="menu-link">
							<span class="menu-icon">								
								<i class="far  fa-clock"></i>
							</span>
							<span class="menu-text">Time Report</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="/work_schedule_home" class="menu-link">
									<span class="menu-text">Work Schedule</span>
								</a>
							</div>												
						</div>
					</div>
					
					<div class="menu-header">Components</div>					
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<span class="menu-icon">
								<i class="fas fa-users"></i>								
							</span>
							<span class="menu-text d-flex align-items-center">Employee Management</span> 
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="/addEmployee"  class="menu-link">
									<span class="menu-text">Add Employee</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/employeeList"  class="menu-link">
									<span class="menu-text">Employee List</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/editEmployee" style="pointer-events: none; cursor: default;"  class="menu-link"  >
									<span class="menu-text"><s>Update Employee Info</s></span>
								</a>
							</div>
							
						</div>
					</div>
					
					
					
					
					
					<div class="menu-divider"></div>
					<div class="menu-header">Users</div>
					<div class="menu-item has-sub">						
						<a href="#" class="menu-link">
							<span class="menu-icon">								
								<i class="fab  fa-superpowers"></i>
							</span>
							<span class="menu-text">Administration</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="/loginasHome" class="menu-link">
									<span class="menu-text">Login As</span>
								</a>
							</div>												
						</div>
					</div>
					
					<div class="menu-item">
						<a href="/profile" class="menu-link">
							<span class="menu-icon"><i class="bi bi-people"></i></span>
							<span class="menu-text">Profile</span>
						</a>
					</div>
					
					<div class="menu-item">
						<a href="/settings" class="menu-link">
							<span class="menu-icon"><i class="bi bi-gear"></i></span>
							<span class="menu-text">Settings</span>
						</a>
					</div>
					<div class="menu-item">
						<a href="/changePassword" class="menu-link">
							<span class="menu-icon"><i class="fa fa-key"></i></span>
							<span class="menu-text">Change Password</span>
						</a>
					</div>					
				</div>
				<!-- END menu -->
				<div class="p-3 px-4 mt-auto">
					<a th:href="@{/logout}" class="btn d-block btn-outline-theme">
						<i class="fa fa-sign-out me-2 ms-n2 opacity-5"></i> Log Out
					</a>
				</div>
			</div>
			<!-- END scrollbar -->
		</div>
		<!-- END #sidebar -->
			
		<!-- BEGIN mobile-sidebar-backdrop -->
		<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
		<!-- END mobile-sidebar-backdrop -->
		</div>
</body>
</html>