<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="dashboard">
		<div id="content" class="app-content">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-3 -->
				<div class="col-xl-3 col-lg-6">
					<!-- BEGIN card -->
					<div th:if="${wsh!=null}"
						th:classappend="${wsh.status}==3 ? bg-danger : normal"
						class="card mb-3  border-theme bg-opacity-25">
						<!-- BEGIN card-body -->
						<div class="card-body">
							<!-- BEGIN title -->
							<div class="d-flex fw-bold small mb-3">
								<span class="flex-grow-1">TODAY'S WORK SCHEDULE </span> <a href="#"
									data-toggle="card-expand"
									class=" text-white text-opacity-50 text-decoration-none"><i
									class="bi bi-fullscreen"></i></a>
							</div>
							<!-- END title -->
							<!-- BEGIN stat-lg -->
							<div class="row align-items-center mb-2">
								<div class="">
									<th:block th:switch="${wsh.status}">
									    <div th:case="0">
									        <h3 class="mb-0 text-warning">Not Working</h3>
									    </div>
									    <div th:case="1">
									        <h3 class="mb-0 text-success">Working</h3>
									    </div>
									    <div th:case="3">
									        <h3 class="mb-0 text-danger">Not Specified</h3>
									    </div>
									</th:block>
									
									
								</div>
								<div class="col-5">
									<div class="mt-n2" data-render="apexchart" data-type="bar"
										data-title="Visitors" data-height="30"></div>
								</div>
							</div>
							<!-- END stat-lg -->
							<!-- BEGIN stat-sm -->
							<div class="small  text-opacity-50 text-truncate">
								<i class="fa fa-play fa-fw me-1"></i> Starts at
								[[${wsh.work_start}]]<br /> <i
									class="fa fa-hourglass-start fa-fw me-1"></i> Lunch Break
								[[${wsh.lunch_hour}]]m<br /> <i class="fa fa-stop fa-fw me-1"></i>
								Ends at [[${wsh.work_end}]] <br />  <i
									class="far fa-comment-alt fa-fw me-1"></i> [[${wsh.work_desc}]]<br />
									<a class="text-decoration-none" href="timeReport"><i class="fa fa-chevron-right fa-fw me-1"></i>Go to Time Report</a>

							</div>
							<!-- END stat-sm -->
						</div>
						<!-- END card-body -->

						<!-- BEGIN card-arrow -->
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
						<!-- END card-arrow -->
					</div>
					<!-- END card -->
				</div>
				<!-- END col-3 -->
				
				<div class="col-xl-3 col-lg-6">
					<!-- BEGIN card -->
					<div th:if="${av!=null}"
						th:classappend="${av.status}==3 ? bg-danger : normal"
						class="card mb-3  border-theme bg-opacity-25">
						<!-- BEGIN card-body -->
						<div class="card-body">
							<!-- BEGIN title -->
							<div class="d-flex fw-bold small mb-3">
								<span class="flex-grow-1" >TODAY'S AVAILABILITY</span> <a href="#"
									data-toggle="card-expand"
									class=" text-white text-opacity-50 text-decoration-none"><i
									class="bi bi-fullscreen"></i></a>
							</div>
							<!-- END title -->
							<!-- BEGIN stat-lg -->
							<div class="row align-items-center mb-2">
								<div class="">
									<th:block th:switch="${av.status}">
									    <div th:case="0">
									        <h3 class="mb-0 text-warning">Unavailable</h3>
									    </div>
									    <div th:case="1">
									        <h3 class="mb-0 text-success">Available</h3>
									    </div>
									    <div th:case="3">
									        <h3 class="mb-0 text-danger">Not Specified</h3>
									    </div>
									</th:block>
								</div>
								<div class="col-5">
									<div class="mt-n2" data-render="apexchart" data-type="bar"
										data-title="Visitors" data-height="30"></div>
								</div>
							</div>
							<!-- END stat-lg -->
							<!-- BEGIN stat-sm -->
							<div class="small  text-opacity-50 text-truncate">
								<i class="fa fa-play fa-fw me-1"></i> Starts at
								[[${av.work_start}]]<br /> <i
									class="fa fa-hourglass-start fa-fw me-1"></i> Lunch Break
								[[${av.lunch_hour}]]m<br /> <i class="fa fa-stop fa-fw me-1"></i>
								Ends at [[${av.work_end}]] <br />  <i
									class="far fa-comment-alt fa-fw me-1"></i> [[${av.work_desc}]]<br />
									<a class="text-decoration-none" href="availabilityHome"><i class="fa fa-chevron-right fa-fw me-1"></i>Go to Availability</a>

							</div>
							<!-- END stat-sm -->
						</div>
						<!-- END card-body -->

						<!-- BEGIN card-arrow -->
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
						<!-- END card-arrow -->
					</div>
					<!-- END card -->
				</div>

				<!-- BEGIN col-3 -->
				<div class="col-xl-3 col-lg-6">
					<!-- BEGIN card -->
					<div class="card border-theme mb-3">
						<!-- BEGIN card-body -->
						<div class="card-body">
							<!-- BEGIN title -->
							<div class="d-flex fw-bold small mb-3">
								<span class="flex-grow-1">CONTRACT</span> <a href="#"
									data-toggle="card-expand"
									class="text-white text-opacity-50 text-decoration-none"><i
									class="bi bi-fullscreen"></i></a>
							</div>
							<!-- END title -->
							<!-- BEGIN stat-lg -->
							<div class="row align-items-center mb-2">
								<div class="">
									<h3 class="mb-0"><a class="text-decoration-none" href="#"><i class="fas  fa-file-pdf"></i></a></h3>
								</div>
								<div class="col-5">
									<div class="mt-n2" data-render="apexchart" data-type="line"
										data-title="Visitors" data-height="30"></div>
								</div>
							</div>
							<!-- END stat-lg -->
							<!-- BEGIN stat-sm -->
							<div class="small text-white text-opacity-50 text-truncate">
								<i class="fa fa-shopping-bag fa-fw me-1"></i> [[${user.employee_Type}]] employee<br />
								<i class="far fa-calendar fa-fw me-1"></i> Started [[${user.contract_start}]]<br /> 
								<i class="far fa-calendar fa-fw me-1"></i> End Date: [[${user.contract_end}]]<br /> 
								<i class="fa fa-dollar-sign fa-fw me-1"></i>
								Remains: [[${user.Contact_remaining_period}]]<br /> 
								
								 <a class="text-decoration-none" href="profile"><i class="fa fa-chevron-right fa-fw me-1"></i>Go to profile</a>
							</div>
							<!-- END stat-sm -->
						</div>
						<!-- END card-body -->

						<!-- BEGIN card-arrow -->
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
						<!-- END card-arrow -->
					</div>
					<!-- END card -->
				</div>
				<!-- END col-3 -->

				<!-- BEGIN col-3 -->
				
				<!-- END col-3 -->

				<!-- BEGIN col-3 -->
				<div class="col-xl-3 col-lg-6">
					<!-- BEGIN card -->
					<div class="card mb-3">
						<!-- BEGIN card-body -->
						<div class="card-body">
							<!-- BEGIN title -->
							<div class="d-flex fw-bold small mb-3">
								<span class="flex-grow-1">BANDWIDTH</span> <a href="#"
									data-toggle="card-expand"
									class="text-white text-opacity-50 text-decoration-none"><i
									class="bi bi-fullscreen"></i></a>
							</div>
							<!-- END title -->
							<!-- BEGIN stat-lg -->
							<div class="row align-items-center mb-2">
								<div class="col-7">
									<h3  class="mb-0">4.5TB</h3>
								</div>
								<div class="col-5">
									<div class="mt-n3 mb-n2" data-render="apexchart"
										data-type="donut" data-title="Visitors" data-height="45"></div>
								</div>
							</div>
							<!-- END stat-lg -->
							<!-- BEGIN stat-sm -->
							<div class="small text-white text-opacity-50 text-truncate">
								<i class="fa fa-chevron-up fa-fw me-1"></i> 5.3% more than last
								week<br /> <i class="far fa-hdd fa-fw me-1"></i> 10.5% from
								total usage<br /> <i class="far fa-hand-point-up fa-fw me-1"></i>
								2MB per visit<br /> <i class="fa fa-shopping-bag fa-fw me-1"></i>
								33.5% new orders<br /> <i class="fa fa-dollar-sign fa-fw me-1"></i>
								6.21% conversion rate
							</div>
							<!-- END stat-sm -->
						</div>
						<!-- END card-body -->

						<!-- BEGIN card-arrow -->
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
						<!-- END card-arrow -->
					</div>
					<!-- END card -->
				</div>
				<!-- END col-3 -->
			</div>
			
			<div class="row">
								<div th:each="all : ${my}"  class="col-xl-3 col-lg-6">
									<!-- BEGIN card -->
									<div class="card mb-3">
										<!-- BEGIN card-body -->
										<div class="card-body">
											<!-- BEGIN title -->
											<div class="d-flex fw-bold small mb-3">
												<span class="flex-grow-1"><span th:text="${all.status}"></span> </span> <a href="#"
													data-toggle="card-expand"
													class="text-white text-opacity-50 text-decoration-none"><i
													class="bi bi-fullscreen"></i></a>
											</div>
											<!-- END title -->
											<!-- BEGIN stat-lg -->
											<div class="row align-items-center mb-2 ">
												<div class="">
													
													<h5 class="mb-0 text-truncate"><a th:href="@{/viewProject(projectid=${all.projectid})}" class="text-decoration-none"><img width="30" height="30" class="rounded"th:src="*{'data:image/jpeg;base64,'+{all.project_image_encoded}}" onerror="this.onerror=null; this.src='assets/img/pages/project.png'"  /> [[${all.title}]]</a></h5>
												</div>
												<div class="col-5">
													<div class="mt-n3 mb-n2" data-render="apexchart"
														data-type="donut" data-title="Visitors" data-height="45"></div>
												</div>
											</div>
											<!-- END stat-lg -->
											<!-- BEGIN stat-sm -->
											<div class="small text-white text-opacity-50 text-truncate">
												<i class="fa fa-search fa-fw me-1"></i> Key: [[${all.projectkey}]]<br /> <i class="far fa-user fa-fw me-1"></i> 
													Chief: <a th:emp-id="${all.creatorid}" onclick="viewEmlpoyee(this);" href="#" class="text-decoration-none">[[${all.creatorname}]]</a><br /><i class="fa fa-lock fa-fw me-1"></i> 
												 <span th:classappend="${all.isprivate}? text-danger :text-success" th:text="${all.isprivate}? PRIVATE : OPEN"></span><br />
												<i class="far fa-comment-alt fa-fw me-1"></i> Desc: [[${all.description}]]<br /> <i class="far fa-clock fa-fw me-1"></i>
												Created on: [[${all.created}]]
												
												<br /> <i class="far fa-clock fa-fw me-1"></i>
												Updated on:<span th:text="${all.updated==null}? ${all.created}: ${all.updated}" ></span>
											</div>
											<!-- END stat-sm -->
										</div>
										<!-- END card-body -->

										<!-- BEGIN card-arrow -->
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<!-- END card-arrow -->
									</div>
									<!-- END card -->
								</div>
							</div>

			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div class="card">
						<div class="card-header fw-bold small d-flex">
							<span class="flex-grow-1">New Members</span> <a href="#"
								data-toggle="card-expand"
								class="text-white text-opacity-50 text-decoration-none"><i
								class="fa fa-fw fa-expand"></i></a>
						</div>
						<div class="card-body ">
							
							<div class="list-group">
							  <!-- with icon -->
							  <div th:each="users : ${latest}"  class="list-group-item d-flex align-items-center">
							    <div class="w-40px h-40px d-flex align-items-center justify-content-center  rounded-2 ms-n1">
							      <img class="ms-100 mh-100 rounded-circle" onerror="this.onerror=null; this.src='assets/img/user/user.png'" th:src="*{'data:image/jpeg;base64,'+{users.emp_image_encoded}}"/>
							    </div>
							    <div class="flex-fill px-3">
							      <div class="">[[${users.full_name}]]
							      <i th:classappend="${users.status} ? fa-user-check : fa-user-slash" class=" text-muted small fa"></i>
							      <span th:if="${users.email==session.user.username}">[You]</span> 
							      
							      </div>
							      <div class="small text-white text-opacity-50">[[${#dates.format(users.created, 'dd MMM yyyy')}]]</div>
							    </div>
							    <div class="dropdown">
							         
							    	<a href="#" data-bs-toggle="dropdown" class=" text-opacity-50">
														<i
																class="fa fa-ellipsis-h"></i></a>
															<div class="dropdown-menu dropdown-menu-end">
																<a href="#" th:emp-id="${users.empid}" onclick="viewEmlpoyee(this);" class="dropdown-item">View</a> 
																<a th:href="@{/editEmployee(empid=${users.empid})}"
																  class="dropdown-item">Edit</a> 
																<a href="#" class="dropdown-item">Report</a>
															</div>
							    </div>
							  </div>
							  </div>
						</div>

						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>

					</div>
				</div>
				<!-- BEGIN col-3 -->
				<div class="col-xl-6 col-lg-6">

					<div class="card">
						<div class="card-header fw-bold small d-flex">
							<span class="flex-grow-1">User Login Activity</span> <a
								class=" text-opacity-50 text-decoration-none"
								onclick="getloggeinusers()" href="#"> <i
								class="fa fa-refresh"></i></a> &nbsp; <a href="#"
								data-toggle="card-expand"
								class="text-white text-opacity-50 text-decoration-none"><i
								class="fa fa-fw fa-expand"></i></a>
						</div>
						<div class="card-body">


							<div id="luserdiv"></div>



						</div>

						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>

					</div>

				</div>
				<!-- END col-3 -->
			</div>

			<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content empContent">...</div>
				</div>
			</div>			
			
		</div>
		
</body>
</html>